body {
    color: rgb(0, 0, 0);
}

.ki {
    background-color: antiquewhite;
    height:800px;
    overflow-y: hidden;
    margin:0px;
    padding:0px;
}

.kil {
    border-radius: 30px;

}